.thebg{
    background-image: url(../../assets/images/bg.jpeg);
    width: 100%;
    height: 200px;
    background-position: cover;
    text-align: center;
    color: white;
}

.exchange h1{
    font-size: 30px;
    padding-top: 20px;
}

.exchange p{
    font-size: 15px;
    padding-top: 20px;
}


.active-tabs {
    background: var(--primary-800);
    color: white;
    border-bottom: 1px solid var(--primary-100);
    width: 100px;
    border-radius: 50px;
  }
  
  
  .mSRG-Btn{
    height: 60px;
    width: 15%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    background-color: var(  --primary-100);
    
  }
  
    .mSRG-btn{
        color: white;
        font-weight: 700;
        padding: 13px;
        font-size: 20px;
  }
  
  .mSRG-container-inner{
    display: none;
    gap: 1rem; 
    padding: 30px 0px 50px 0px ;
  
  }
  
  .active-content{
    display: grid;
  }
  
  .mSRG-content{
    text-align: left;
    font-size: 20px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    display: block;
    color: #666d70;
    line-height: 2.8rem;
    font-weight: 400;
  }
  
  
  
  .heroSearchForm{
    position: relative;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 15%);
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
 
}

form select{
  border: 1px solid var(--primary-800);
  padding: 14px 35px;
  border-radius: 10px;
  margin-top: 5px;
  background: none;

}

form input{
background: none;
padding: 9px;
} 

form h3{
  text-align: center;
  padding-top: 20px;

}  .amount{
  border: 1px solid var(--primary-800);
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;

} 
.buyForm{
    margin-top: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 15%);
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
    background-color: white;
 
} 


h1, p {
  font-family: Lato;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.header {
  display: block;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    text-align: center;
    position: fixed;
    z-index: 999;
    display: block;
    border-radius: 5px;
    width: 50%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50px;
    padding: 20px;
}

.input-edit input{
  padding: 50px;
  border: var(--primary-800);
}

.modal-section{
  padding-top: 20px;
}


.cancel-btn{
  background-color: red;
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin-left: 10px;
  font-weight: 900;
}

.create-btn{
  background-color: var(--primary-800);
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin-right: 10px;
  font-weight: 900;

}